* {
    margin: 0;
    padding: 0;
}

body {
    background: #121214;
}

/*Primeira Parte*/
header {
    background: #201f24;
    color: white;

    height: 10vh;
    font-family: Arvo, Helvetica, sans-serif;
    font-size: 25px;
    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: -1em;
    border-image-source: linear-gradient(to right, aqua, rgb(101, 3, 192), blue);
}

#menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 0;
}

.items {
    list-style: none;
    color: #646464;
    text-decoration: none;

    padding: 10px;
    font-size: 1,5rem;
    transition: 0.3s;
}

#github {
    list-style: none;
    color: #646464;
    text-decoration: none;

    padding: 10px;
    font-size: 1,5rem;
    transition: 0.3s;
}

#github:hover {
    cursor: pointer;
    color: white;
}

.items:hover {
    cursor: pointer;
    color: white;
}

/*Segunda Parte*/

#aboutMe {
    color: white;
    text-align: center;
    margin-top: 5%;
}

#cardProfile {
    background: #201f24;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, aqua, rgb(101, 3, 192), blue);

    color: white;
    display: flexbox;
    flex-wrap: wrap;
    flex-shrink: 1;

    margin: auto;
    padding: 50px;
    width: 50vw;
}

#imagePerfil {
    float: left;
    padding: 10px;
    height: 200px;
    bottom: 50px;
}

.textInfo {
    font-size: 25px;
    font-family: Slabo, Times, sans-serif;
}

/*Terceira Parte*/

#tech {
    margin-top: 3em;
    color: white;
    text-align: center;
}

#containerExp {
    background: #201f24;

    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, aqua, rgb(101, 3, 192), blue);

    display: flex;
    flex-wrap: wrap;

    margin: auto;
    width: 60vw;

    
}

.contentExp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.techExp {
    color: white;
    text-align: center;
    
    margin: auto;

    padding: 30px;
}

.exptech:hover {
    position: relative;
    bottom: 10px;
}


#cardProjectName {
    margin-top: 3em;
    text-align: center;
    color: white;
}

.cardProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardProjects {
    background: #201f24;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, aqua, rgb(101, 3, 192), blue);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: auto;
    padding: 100px;

    width: 50vw;
    height: 50vh;
}

#sliderWorkshop {
    margin: auto;

}

#sliderWorkshop img{
    border-radius: 10px;

    width: 30vw;
    height: 30vh;

    object-fit: cover;
}

#cardContact {
    color: white;
    background: #201f24;
    border-top: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, aqua, rgb(101, 3, 192), blue);

    font-family: Arvo, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    
    margin-top: 50px;
    padding: 30px;
}

@media screen and (max-width: 700px) {
    header {
        height: 20vh;
        padding: 10px;
        margin: auto;
    }
    .items {
        font-size: 1rem;
        padding: 3px;
    }
    #github {
        font-size: 1rem;
        padding: 3px;
    }
    #cardProfile {
        background: #201f24;
        border: 2px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(to left, aqua, rgb(101, 3, 192), blue);
    
        color: white;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
    
        margin: auto;
        padding: 30px;
        width: 50vw;
    }
    #imagePerfil {margin-bottom: auto;}
}